<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>我的路由器</title>
</head>
<body style="background: #FAF9F8">
<div style="display: flex;flex-flow: column nowrap;gap: 10px;background: #FFF">
    <label>功能</label>
    <div style="display: flex;flex-flow: row wrap;gap: 10px">
        <button onclick="onReboot()">重启路由器</button>
        <button onclick="onWakeup()">网络唤醒电脑</button>
    </div>
</div>

<script>
    // 执行请求
    const request = async (path) => {
        let resp = await fetch(path + window.location.search)
        let msg = await resp.text()
        alert(msg)
    }

    // 重启
    const onReboot = () => {
        if (confirm("确认 重启路由器？")) {
            request("/api/reboot")
        }
    }

    // 唤醒网络设备
    const onWakeup = () => {
        request("/api/wol")
    }
</script>
</body>
</html>